
/* ***************** VARIABLE ********************* */
$primary: rgb(255, 198, 26);
$dark: rgb(4, 7, 7);
$light: rgb(245, 244, 242);
$white: #fff;
$black: rgb(16, 16, 16);

/* ***************** MIXINS ********************* */
@mixin mq-minw($min-w){
	@media only screen and (min-width: $min-w){
		@content;
	}
}
@mixin mq-maxw($max-w){
	@media only screen and (max-width: $max-w){
		@content;
	}
}
@mixin mq-maxh($max-h){
	@media only screen and (max-height: $max-h){
		@content;
	}
}
@mixin mq($min-w, $max-w){
	@media only screen and (min-width: $min-w) and (max-width: $max-w){
		@content;
	}
}

/* ***************** TYPOGRAPHY ********************* */
@import 'base/texicab.font';
@import 'base/typography/linear-interpolation';
@import 'base/typography/map-sort';
@import 'base/typography/list-sort';
@import 'base/typography/list-remove';
@import 'base/typography/poly-fluid-sizing';

/* ***************** GENERIC ********************* */
body {
  background-color: $white;
  font-family: "Lato", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: $black;
  font-size: 18px; 
}
h2 {
  $map: (576px: 22px, 320px: 18px, 992px: 34px, 768px: 24px);     
  @include poly-fluid-sizing('font-size', $map);
} 
h4, h5, h6{
	font-weight: 700;
}
.bg-img{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
small, .font_small {font-size: 0.667em;}
.btn-texicab{
	text-transform: uppercase;
	background-color: $black;
	font-weight: 600;
	border: none;
	border-radius: .3em;
	font-size: 20px;
	color: $white;
	padding: .6em 2em;
	text-align: center;
	text-decoration: none;
	transition: background .3s;
	border: 2px solid transparent;
	letter-spacing: 1px;
	&:focus, &:hover{
		background-color: $white;
		color: $black;
		border: 2px solid $black;
		text-decoration: none;
	}
}

.section-title{
	line-height: 1;
	margin: 0px;
	color: $black;
	font-weight: 800;
	.yellow{
		color: $primary;
		display: block;
	}
}

/* ***************** 1.1 BANNER SECTION  ********************* */
.banner-section{
	background-color: $dark;
	background-image: url(../img/banner.png);
	.texicab-navbar{
		.navbar-toggler{
			color: $white;
		}
		.navbar-brand{
			color: $white;
			font-weight: 700;
			.logo{
				font-size: 35px;
				line-height: 1; 
				&.hub{
					text-transform: uppercase;
					color: $primary;
				}
			} /* /.logo */
			.logo-subtitle{
				line-height: 1;
				text-transform: uppercase;
				letter-spacing: 3px;
				font-weight: 600;	
				display: block;
			}
		} /* /.navbar-brand */
		.nav-item{
			&:not(:last-child){
				margin-right: 1em;
			}
			.nav-link{
				color: $white;
				text-transform: uppercase;
				font-weight: 600;
				transition: all .5s;
			}
			&:focus, &:hover, &:active, &.active{
				.nav-link{
					background-color: $primary;
					border-radius: .5em;
					color: $black;
				}
			} /* /.navlink:hover */
		} /* /.nav-item */
	} /* /.texicab-navbr */

	.banner-title-top{
		color: $primary;
		font-weight: 700;
		letter-spacing: 2px;
	} /* /.banner-title-top */
	.banner-title{
		font-weight: 900;
	}
	.banner-subtitle{
		letter-spacing: 12px;
	}
	.banner-texi{
		position: relative;
		z-index: 5;
		margin-bottom: -10rem;
	}/*  /.banner-texi */
}

/* ***************** 1.2 ABOUT SECTION  ********************* */
.about-section{
	background-color: $primary;
	color: $black;
	.about-title{
		font-weight: 800;
	}
	.texicab-form-title{
		background-color: $black;
		display: block;
		color: $white;
		.cab{
			color: $primary;
		}
	}
	.texicab-form{
		background-color: $white;
		.form-control{
			border: 2px solid transparent;
			border-bottom: 2px solid #ccc;
			&.text-black{
				color: $black;
			}
		}
	} /* /.texicab-form */
} /* /.about-section */

/* ***************** 1.3 TRIFF SECTION  ********************* */
.triff-section{
	.triff-card{
		background-color: $light;
		.card-title, .card-price{
			font-weight: 800;
		}
		.card-price{
			color: $primary;
		}
		.card-img-top{
			position: relative;
			margin-top: -5rem;
		} /* /.card-img-top */
		.btn-texicab{
			background-color: $primary;
			color: $black;
			padding: .35em 1.2em;
			transition: all .4s;
			&:focus, &:hover{
				color: $primary;
				background-color: $black;
				border: 2px solid $primary;
			}
		}
		&.middle{
			position: relative;
			background-color: $primary;
			z-index: 2;
			&:after{
				display: block;
				position: absolute;
				bottom: 0;
			}
			&:after{
				content: "";
				right: 0;
			    width: 0;
			    height: 0;
			    border-style: solid;
			    border-width: 0 0 100px 100px;
			    border-color: transparent transparent $black transparent;
			    z-index: -1;
			} 
			.middle-star{
				position: absolute;
				bottom: 14px;
				right: 14px;
				z-index: 1;
				color: $primary;
				font-size: 30px;
			}
			.card-price{color: $black}
			.btn-texicab{
				background-color: $black;
				color: $white;
				&:focus, &:hover{
					color: $black;
					background-color: $white;
					border: 2px solid $black;
				}
			}
		} /* /.btn-texicab */
	} /* /.triff-card */
} /* /.triff-section */

/* ***************** 1.4 FEATURE SECTION  ********************* */
.feature-section{
	background-color: $black;
	background-image: url(../img/service.png);
	.feature-item{
		color: $white;
	}
	.feature-title{
		color: $primary;
	}
	.feature-icon{
		width: 80px;
		height: 80px;
		line-height: 80px;
		border-radius: 50%;
		background-color: $primary;
		font-size: 35px;
		text-align: center;
		color: $black;
	}
	.feature-btn-container{
		.btn-texicab{
			background-color: $primary;
			color: $black;
			transition: all .3s;
			&:focus, &:hover{
				background-color: $light;
				color: $black;
			}
		}
	}
} /* /.feature-section */

/* ***************** 1.5 DOWNLOAD SECTION  ********************* */
.download-section{
	.download-store{
		flex-wrap: wrap;
		.app{
			background-color: $black;
			color: $white;
			border-radius: 2em;
			font-size: 20px;
			line-height: 1;
			small{line-height: 1;}
			.icon{font-size: 30px;}
		} /* /.app */
	}
} /* .download-section */

/* ***************** 1.6 TESTIMONIAL SECTION  ********************* */
.testimonial-section{
	background-color: $black;
	background-image: url(../img/clients.png);
	.carousel-content{
		background-color: $black;
		color: $white;
		border-radius: 3rem;
		position: relative;
		&:after{
			z-index: 10;
			position: absolute;
			content: "";
			bottom: -40px;
			right: 25%;
		    display: inline-block;
		    width: 0;
		    height: 0;
		    border-style: solid;
		    border-width: 40px 30px 0 0;
		    border-color: $black transparent transparent transparent;
		}
		&.traingle-top-right{
			&:after{
				right: 70%;
			    border-width: 0 30px 40px 0;
			    border-color: transparent $black transparent transparent;

			}
		}
	} /* /.carousel-content */
	.customer-avatar{
		width: 75px;
		height: 75px;
		border-radius: 50%;
	}
	.caption-content{
		line-height: 1.3;
		.name{ color: $primary; }
	}
} /* /.testimonial-section */

/* ***************** 1.6 CONTACT SECTION  ********************* */
.contact-section{
	position: relative;
	z-index: 1;
	background-image: url(../img/contact_bg.jpg);
	color: $white;
	&:after{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		display: block;
		background-color: rgba(0,0,0,0.9);
		z-index: -1;
	}
	.contact-box-title{
		border-bottom: 7px solid $primary;
		font-weight: 800;
	}
	.android, .ios{
		font-size: 25px;
		color: $primary;
		text-align: justify;
	}
	.contact-way{
		line-height: 1.2;
		.tc{
			font-size: 25px;
		}
	}
}